@using Humanizer

@model youtubed.Models.ListViewModel

@{
    ViewData["Title"] = "Your List";
}

<h1>@ViewData["Title"]</h1>
<p>
    This is a <strong>secret list</strong> that is only visible to those with a
    copy of <a asp-action="Index" asp-route-id="@Model.Id" asp-route-token="@Model.Token">this link</a>.
    Consider bookmarking it as it cannot be recovered if you lose it.
</p>
<p>
    If you do not access this list again within <time datetime="@Model.ExpiredAfter.ToString("o")" title="@Model.ExpiredAfter.ToString("g")">@Model.MaxAge.Humanize()</time>,
    it will be automatically deleted.
</p>

<h2>Videos</h2>
@if (Model.StaleCount > 0)
{
    <div class="alert alert-info" role="alert">
        @("channel".ToQuantity(Model.StaleCount)) in this list @("is".ToQuantity(Model.StaleCount, ShowQuantityAs.None))
        waiting to be updated. <a class="alert-link" asp-action="Index" asp-route-id="@Model.Id" asp-route-token="@Model.Token">Refresh</a>
    </div>
}
@if (Model.Videos.Any())
{
    <ol class="video-list clearfix">
        @foreach (var video in Model.Videos)
        {
            <li class="video-item">
                <a class="video-link" href="@video.VideoUrl" rel="noopener noreferrer" referrerpolicy="no-referrer">
                    <div class="video-image">
                        <img src="@video.VideoThumbnail" alt="video thumbnail" referrerpolicy="no-referrer" width="224" height="126" />
                        @*<span class="video-duration">@video.VideoDuration.Humanize()</span>*@
                    </div>
                    <span class="video-title">@video.VideoTitle</span>
                </a>
                <a class="channel-title channel-link" href="@video.ChannelUrl" rel="noopener noreferrer" referrerpolicy="no-referrer">@video.ChannelTitle</a>
                <time class="video-published-at" datetime="@video.VideoPublishedAt.ToString("o")" title="@video.VideoPublishedAt.ToString("g")">@video.VideoPublishedAt.Humanize()</time>
            </li>
        }
    </ol>
}
else
{
    <p>
        <em>No recent videos.</em>
    </p>
}

<p>
    <a asp-action="AddChannel" asp-route-id="@Model.Id" asp-route-token="@Model.Token">Add New Channel</a>
</p>
