@model ListViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h1>@ViewData["Title"]</h1>
<p>
    This is a <strong>secret list</strong> that is only visible to those with a
    copy of <a asp-action="Index">this link</a>. Consider bookmarking it as it
    cannot be recovered if you lose it.
</p>
<p>
    If you do not access this list again within <time datetime="@Model.ExpiredAfter.ToString("o")" title="@Model.ExpiredAfter.ToString("g")">@Model.MaxAge.Humanize()</time>,
    it will be automatically deleted.
</p>

<h2>Videos</h2>
@if (Model.StaleCount > 0)
{
    <div class="alert alert-info" role="alert">
        @("channel".ToQuantity(Model.StaleCount)) in this list @("is".ToQuantity(Model.StaleCount, ShowQuantityAs.None))
        waiting to be updated. <a class="alert-link" asp-action="Index">Refresh</a>
    </div>
}
@if (Model.Videos.Any())
{
    <ol class="list-unstyled clearfix">
        @foreach (var video in Model.Videos)
        {
            <li class="video-item">
                <a class="video-link" href="@video.VideoUrl" rel="noopener noreferrer" referrerpolicy="no-referrer">
                    <div class="video-image">
                        <img src="@video.VideoThumbnail" referrerpolicy="no-referrer" width="224" height="126" />
                    </div>
                    <span class="video-title">@video.VideoTitle</span>
                </a>
                <a class="video-channel-link" href="@video.ChannelUrl" rel="noopener noreferrer" referrerpolicy="no-referrer">@video.ChannelTitle</a>
                <time class="video-published-at" datetime="@video.VideoPublishedAt.ToString("o")" title="@video.VideoPublishedAt.ToString("g")">@video.VideoPublishedAt.Humanize()</time>
            </li>
        }
    </ol>
}
else
{
    <p>
        <em>No recent videos.</em>
    </p>
}

<h2>Channels</h2>
@if (Model.Channels.Any())
{
    <ol class="list-unstyled clearfix">
        @foreach (var channel in Model.Channels)
        {
            <li class="channel-item">
                <a class="channel-link" href="@channel.Url" rel="noopener noreferrer" referrerpolicy="no-referrer">
                    <img src="@channel.Thumbnail" referrerpolicy="no-referrer" width="138" height="138" />
                    <span class="channel-title">@channel.Title</span>
                </a>
                <form asp-action="RemoveChannel">
                    <input type="hidden" name="ChannelId" value="@channel.Id" />
                    <input type="submit" value="Remove Channel" class="btn btn-danger btn-block" />
                </form>
            </li>
        }
    </ol>
}
else
{
<p>
    <em>No channels added.</em>
</p>
}
<p>
    <a class="btn btn-default" asp-action="AddChannel">Add New Channel</a>
</p>

<h2>Settings</h2>
<p>
    <a class="btn btn-default" asp-action="Edit">Edit List</a>
    <a class="btn btn-danger" asp-action="Delete">Delete List</a>
</p>
