@model youtubed.Models.ListModel

@{
    ViewData["Title"] = "View List";
}

<h1>@ViewData["Title"]</h1>
<p>
    This is a <strong>secret list</strong> that is only visible to someone with
    a copy of <a asp-action="View" asp-route-Id="@Model.Id" asp-route-Token="@Model.TokenString">this link</a>.
    Consider bookmarking it as it cannot be recovered if you lose it.
</p>

<h2>Videos</h2>
<p>
    <em>There are no new videos in this list.</em>
</p>

<div>
    <a asp-action="AddChannel" asp-route-Id="@Model.Id" asp-route-Token="@Model.TokenString">Add new channel</a>
</div>
